powerup/.idea/workspace.xml
powerup/.idea/workspace.xml
powerup/.dart_tool/package_config.json
powerup/.dart_tool/package_config.json
powerup/.dart_tool/package_config.json
powerup/.flutter-plugins
powerup/.flutter-plugins-dependencies
powerup/.idea/libraries/Dart_Packages.xml
*.xml
.idea/workspace.xml
powerup/.dart_tool/package_config.json
powerup/.flutter-plugins
powerup/.flutter-plugins-dependencies
powerup/.idea/libraries/Dart_Packages.xml
powerup/.idea/libraries/Dart_SDK.xml
powerup/.idea/libraries/Flutter_Plugins.xml
powerup/.idea/workspace.xml
powerup/.packages
*.json
.idea/workspace.xml
powerup/.dart_tool/package_config.json
powerup/.flutter-plugins
powerup/.flutter-plugins-dependencies
powerup/.idea/libraries/Dart_Packages.xml
powerup/.idea/libraries/Dart_SDK.xml
powerup/.idea/libraries/Flutter_Plugins.xml
powerup/.idea/workspace.xml
powerup/.packages
powerup/android/local.properties
powerup/.packages
powerup/.idea/workspace.xml
powerup/.idea/libraries/Flutter_Plugins.xml
powerup/.idea/libraries/Dart_SDK.xml
powerup/.idea/libraries/Dart_Packages.xml
powerup/.flutter-plugins-dependencies
powerup/.flutter-plugins
powerup/.dart_tool/package_config.json
powerup/.idea/workspace.xml
powerup/.dart_tool/package_config.json
powerup/.dart_tool/package_config_subset
powerup/.dart_tool/version
powerup/.flutter-plugins
powerup/.flutter-plugins-dependencies
powerup/.packages
powerup/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
powerup/android/local.properties
powerup/pubspec.lock
